
hr {
	margin: 40px 0;
	border-top: #BBBBBB 1px solid;
}

h2.traffic, h2.categories, h2.organizations {
	margin-top: 0px;
}

table.widget th {
	background-color: green;
	color: white;
}


.grid-card-container .grid-card div.lint-links {
	height: 45px;
}

.lint-links {
	.htmlModal { 
		z-index: 1;
		position: relative;
		margin-bottom: -13px;
	}

	.ui-grid-cell-contents {	height: 25px;	}
}