ts-alerts {
  .alert-wrapper {
    margin-top: 50px;
  }
  .alert {    
    margin-bottom: 2px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    border-radius: 0;
    border-radius: 2px;
    border: #000000 1px solid;

    // Round the first and last items
    &:first-child {
      .border-top-radius(@alert-border-radius);
    }
    &:last-child {
      .border-bottom-radius(@alert-border-radius);
    }
  }
}
