<div id="customers-list" ng-class="{'hidden-list': !visibleTable}">
    <div class="page-header ts-collapse">
        <div class="content">
            <h1>Account Selection:</h1>

            <div ng-if="export">
                {{export.name}} preset url: {{export.url}}
            </div>
            <div class="btn-container" ts-collapsable tsc-on="Show filters" tsc-off="Hide filters" tsc-export="true" tsc-cols="true">
                  <button ng-click="accountListGrid.grid.api.cards.toggle()" class="cards-grid-toggle nonCollapse" uib-tooltip="{{accountListGrid.grid.api.cards.getTitle()}}"
                    tooltip-placement="bottom">
                    <i class="fa" ng-class="{'fa-th': !accountListGrid.grid.api.cards.isActive(), 'fa-list': accountListGrid.grid.api.cards.isActive()}"></i>
                </button>
                <div class="filters-container">
                    <models></models>
                    <ts-select model="filters.selectedTeam" data="filters.teams" offset="20">CS Region</ts-select>
                    <ts-select model="filters.selectedGroupby" data="filters.groupby" display="displayName" offset="20">Group By</ts-select>
                    <ts-select model="filters.selectedExpansionRatingModel" data="filters.expansionRatingModels" display="displayName" offset="20">Scoring Model</ts-select>
                </div>
                <div class="pull-right">
                    <div style="display:inline-block;position:relative;" ng-show="!showPresetSave">
                        <div class="separator"></div>
                        <button ng-click="list.showExport = !list.showExport" class="btn apigee-btn">Export</button>
                        
                            <ul ng-show="list.showExport" class="floated-menu">
                                <li ng-click="list.exportAll();">All</li>
                                <li ng-click="list.exportVisible()">Visible</li>
                            </ul>
                        
                        <div class="separator"></div>
                        <button ng-click="accountListGrid.grid.clearAllFilters()" class="btn apigee-btn">Clear filters</button>
                    </div>
                </div>

                <div id="export-compact-menu" style="display: none">
                    <ul class="floated-menu">
                        <li ng-click="list.exportAll();">Export all</li>
                        <li ng-click="list.exportVisible()">Export visible</li>
                        <li ng-click="accountListGrid.grid.clearAllFilters()">Clear filters</li>
                    </ul>
                </div>

                <div class="pull-right" id="columns-menu">
                    <div class="columns-dropdown" ts-click-outside="list.hideGridDrop()" ng-show="!showPresetSave">
                        <span ng-click="visibleGridDropdown.visible = !visibleGridDropdown.visible">
                        Columns 
                        <i class="fa fa-caret-down" ng-class="{'fa-caret-up': visibleGridDropdown.visible}" aria-hidden="true"></i>
                        </span>
                        <div id="grid-columns-dropdown" class="grid-columns-dropdown" ng-show="visibleGridDropdown.visible">
                            <ul>
                                <li ng-repeat="col in gridAccounts.columnDefs" ng-click="list.toggleFilter($index);">
                                    <i ng-class="{active: list.isActive($index)}"></i>{{col.displayName}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <ts-busy tracker="customersTracker">
            
            
            <div id="accountListGrid" ng-init='resizeGrid()' ui-grid="gridAccounts" ui-grid-resize-columns ui-grid-exporter ui-grid-save-state ui-grid-pagination
                 ui-grid-grouping ui-grid-auto-resize ts-materialize-grid ui-grid-height ui-grid-cards="list" class="accountListGrid no-top-button"></div>
            
        </ts-busy>
    </div>
</div>

<ui-view></ui-view>