@bootstrap-path:          "~bootstrap/";
@import "~bootstrap/less/variables.less";
@import "~ui-framework/less/core";
@import "~ui-framework/less/contexts/app";
@import "./bootstrap-xlg";
@import "./bootstrap-xxs";
@import "./media-queries";

@font-path:               "~ui-framework/dist/fonts/";
@image-path:              "~ui-framework/dist/images/";
@icon-font-path:          "~bootstrap/dist/fonts/";

@import "~font-awesome/less/font-awesome";
@fa-font-path:            "~font-awesome/fonts";

// Import all the app styles here, rather than using require() in
// the respective component/view because otherwise variables/mixins are
// not available, and reimporting will duplicate style code
@import "./mixins";
@import "./base";
@import "./type";
@import "./footable";
@import "./uiGridOverrides";
@import "./scrollbarmacosx";
@import "./layout/body";
@import "./helpers";

// Components
@import "../components/components";
@import "./components/panel";
@import "./components/icon-details";
@import "./components/header-text";
@import "./components/back-link";
@import "./components/dropdown-menu";
@import "./components/bar-chart";
@import "./components/q-select";

@import "./sections/engage";

// Views
@import "../customers/style";
@import "../kanban/style";
@import "../login/style";

@grid-float-breakpoint: 769px;

// Override Apigee colors for status badges

@brand-success: #10cc7e;
@brand-warning: #fcd52d;
@brand-danger: #ff5271;
@brand-no_data: #757575;
@heading-background: #4A494A;
@apigee-orange: #fc4c02;
@titles-orange: #fc4c02;
@content-text: #2b2b2b;
@content-sec-text: #777;
@border-color: #d9d9d9;
@charts-blue: #33c4df;

@primary-font: Roboto, 'sans-serif';
@secondary-font: Lato, 'sans-serif';
@other-font: 'Maven Pro', 'sans-serif';

//Mixins
.base-content-text {
  color: @content-text;
  font-weight: 400;
  font-size: 14px;
  font-family: @primary-font;
}

.base-heading-title {
  color: @titles-orange;
  font-weight: bold;
  font-size: 15px;
  font-family: @secondary-font;
}