.no-border {
  border: none !important;
}

.transition(@property, @time, @type: linear) {
  -webkit-transition: @property @time @type;
  -moz-transition: @property @time @type;
  -o-transition: @property @time @type;
  transition: @property @time @type;
}
