@row-height: 48px;
@radius: 3px;

.ui-grid {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #d9d9d9;
  border-radius: @radius;
}

.no-top-button {
  .ui-grid-menu-button {
    display: none;
  }
}

.ui-grid-menu-item {
  i { display: inline-block !important; }
}

.ui-grid-menu-button {
  font-family: FontAwesome !important;
  border-radius: 100px !important;
  border: 1px solid @apigee-orange !important;
  color: @apigee-orange;
  position: absolute;
  top: 6px !important;
  right: 6px !important;
  width: 23px !important;
  height: 23px !important;
  background-color: transparent !important;
  z-index: 3 !important;

  &.pressed {
    color: white;
    background-color: @apigee-orange !important;

    &::after {
      top: -6px;
      content: "\f106" !important;
    }
  }

  i { display: none; }
  
  &::after {
    position: absolute;
    content: "\f107" !important;
    pointer-events: none !important;
    font-family: FontAwesome !important;
    left: 20%;
    top: -4px;
    font-size: 20px;
  }

  .ui-grid-icon-container {
    border-radius: 100px !important;
    height: 100%;
    width: 100%;
    margin: 0;

    &:focus {
      outline: none;
    }
  }
}

.ui-grid-cell {
  border: none !important;
  border-bottom: 1px solid #d9d9d9 !important;
}

.ui-grid-row, .ui-grid-cell {
  height:@row-height !important;
}

.ui-grid-row {
  border-bottom: 1px solid #d9d9d9;

  &:last-child {
    border-bottom: none;
  }

  &:hover { 
    //background-color: #f3f3f3 !important; 
    .ui-grid-cell {
      color: @charts-blue !important;
    }
  }
}

.ui-grid-row:nth-child(odd):hover .ui-grid-cell,
.ui-grid-row:nth-child(even):hover .ui-grid-cell {
  .ui-grid-cell-contents:not(.engagementStatus) {
    color: @charts-blue !important;
  }
}

.ui-grid-cell-contents {
  line-height: 38px;
  font-family: @primary-font;
  color: @content-text;
  font-size: 14px !important;
  padding-left: 10px !important;
  font-weight: 400;
}

.ui-grid-canvas {
  .ui-grid-cell-contents {
    padding-left: 30px !important;
  }
}

a.ui-grid-cell-contents,
ts-html-modal.ui-grid-cell-contents {
  color: @charts-blue;
  cursor: pointer;
  height: 100%;
  display: inline-block;

  a { color: @charts-blue; }
}

span.ui-grid-cell-contents {
  cursor: pointer;
  height: 100%;
  display: inline-block;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell,
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: white !important;

  &:focus {
    outline: none;
  }
}

.ui-grid-header-cell {
  background-color: white !important;
  border: none !important;
  display: inline-block !important;
}

.ui-grid-header-cell .sortable {
  padding-left: 20px !important;
}

.ui-grid-column-resizer {
  &:hover {
    border-right: 1px solid #d9d9d9;
  }
}

.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: none !important;
}

.ui-grid-header-cell-label {
  font-family: @secondary-font;
  font-size: 13px;
  font-weight: bold;
  color: #1e2229;
}

.ui-grid-render-container {
  margin-left: 0 !important;
}

.ui-grid-viewport, .ui-grid-header-viewport, 
.ui-grid-header-cell-wrapper {
  width: 100% !important;
  background-color: white;
}

.ui-grid-header-cell-wrapper,
.ui-grid-header-cell-row,
.ui-grid-top-panel,
.ui-grid {
  border-top-left-radius: @radius !important;
  border-top-right-radius: @radius !important;
  -webkit-border-top-left-radius: @radius !important;
  -webkit-border-top-right-radius: @radius !important;
  -moz-border-radius-topleft: @radius !important;
  -moz-border-radius-topright: @radius !important;
  border-top-left-radius: @radius !important;
  border-top-right-radius: @radius !important;
}

.ui-grid-pager-panel,
.ui-grid {
  -webkit-border-bottom-right-radius: @radius !important;
  -webkit-border-bottom-left-radius: @radius !important;
  -moz-border-radius-bottomright: @radius !important;
  -moz-border-radius-bottomleft: @radius !important;
  border-bottom-right-radius: @radius !important;
  border-bottom-left-radius: @radius !important;
}

.ui-grid-canvas {
   min-width: 100%;
}

.grid-graph {
  display: block;
  height: 100%;
  width: 90%;
  line-height: @row-height;
  margin: auto;

  canvas {
    height: 60% !important;
    vertical-align: middle !important;
  }
}

.kbp-content {
  .kbp-header {
    background-color: #3dd0ac;
    
    h4 {
      font-family: @secondary-font;
      font-size: 10px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}


.ui-grid-icon-plus-squared, .ui-grid-icon-minus-squared {
  position: absolute;
  z-index: 1;
  left: -1px;
}

.ui-grid-menu-items {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  background-color: white;

  li {
    font-family: @primary-font;
    background-color: white;
    color: #b1b1b1;
    font-weight: 200;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.ui-grid-menu-button {
  #menuitem-7 {
    border-top: 1px solid #f3f3f3;
    font-size: 8px;

    .ui-grid-menu-item {
      padding-top: 6px;
      padding-bottom: 3px;
    }
  }
}

.ui-grid-menu .ui-grid-menu-inner ul li button:hover, 
.ui-grid-menu .ui-grid-menu-inner ul li button:focus {
  outline: none;
  box-shadow: none;
}

.ui-grid-menu .ui-grid-menu-inner ul li:not(:last-child) > button,
.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item-active,
.ui-grid-menu .ui-grid-menu-inner ul li:last-child > button {
  border: none !important;
  position: relative;
  padding-left: 15px;
  padding-right: 30px;

  .ui-grid-icon-cancel, .ui-grid-icon-ok {
    display: inline-block;
  }

  .grid-check {
    border-radius: 3px;
    width: 18px;
    height: 18px;
    top: 2px;
    position: relative;
  }

  .ui-grid-icon-ok {
    .grid-check;
    background-color: @charts-blue;
    border: 2px solid @charts-blue;

    &:before {
      position: relative;
      content: '\c362';
      color: white;
      left: -1px;
      top: -1px;
    }
  }

  .ui-grid-icon-cancel {
    .grid-check;
    background-color: white;
    border: 2px solid #d3d3d3;

    &:before {
      content: '';
      color: white;
    }
  }

  &:hover {
    background-color: #f3f3f3;
    box-shadow: none;
  }
}

.ui-grid-menu-button 
.ui-grid-menu 
.ui-grid-menu-mid {
  overflow-x: hidden;
  overflow: auto;
  border: none;
}

.ui-grid-pager-panel {
  background-color: white;
}

.ui-grid-menu .ui-grid-menu-inner ul li button:hover,
.ui-grid-menu .ui-grid-menu-inner ul li button:focus {
  box-shadow: none;
}

.ui-grid-column-menu {
  top: 59px !important;
}

.ui-grid-cell-focus {
  background-color: #efefef;
}

.ui-grid-pager-panel {
  padding-top: 0 !important;
  //padding-bottom: 0 !important;
}


/** Panel Grid **/
.panel-grid {
  .ui-grid-header {
    border-bottom: none;
  }

  .ui-grid {
    border: none;
  }
}


.placeholder-row {
  font-family: @primary-font;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #d9d9d9;
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
}