<nav class="left-sidebar">
  <div class="sidebar-content">
    <h1 ng-if="ngTitle">{{ngTitle}}</h1>
    <a class="hamburguer">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <ul class="sidebar-links">
      <li ng-if="hasBackLink">
        <a class="back-link" ui-sref="{{options.backLink.state}}" data-target="#">
          {{options.backLink.name}}
        </a>
      </li>
      <li ng-repeat="section in options.sections">
        <a ui-sref-active="active" ui-sref="{{section.state}}">{{section.name}}</a>
      </li>
    </ul>
  </div>
</nav>