.header-text-container {
  color: #fff;
  margin: 0;
  padding: 0;

  .text-up {
    // color: #fff;
    display: table-cell;
    height: 40px;
    line-height: 1;
    padding-bottom: 2px;
    vertical-align: bottom;
  }

  h1.text-up {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 0;
  }

  .text-down {
    margin-top: 9px;
    font-size: 15px;
    height: 20px;
  }
}
