<ul class="{{relevant.class}}">
  <li ng-repeat="item in relevant.info">
    <a class="title-link" href="{{item.link}}" target="_blank">
      {{item.link | hostname}}
    </a>
    <span>{{item.content}}</span>
  </li>
  <li class="placeholder-li">
    No more information to show
  </li>
</ul>