#models-container {
  display: inline-block;
  position: relative;
  top: 5px;

  .btn {
    font-size: 10px;
    padding: 3px;
    position: relative;
    top: 4px;
  }

  .tssd-content {
    border-bottom: 1px solid #b1b1b1;
    padding: 5px 2px;

    a { 
      font-family: @primary-font; 
      font-size: 10px;
      margin-right: 8px;
    }
  }

  .tss-content {
    .ellipsis {
      max-width: 140px;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
    }
  }

  .import-link { margin-right: 10px; }

  .li-save {
    position: relative;

    a, .li-link {     
      color: #b1b1b1;
      display: inline-block;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      top: 5px;
    }

    .btn-save { position: absolute; right: 9px; top: 14px; }
  }

  .last-public { border-bottom: 1px solid #EFEFEF; }
  .active-model { background-color: #EFEFEF; }
  .models-link { position: relative; }

  #models-panel {
    width: 300px;
    padding: 15px;
    position: absolute;
    z-index: 1;

    md-input-container { height: 32px; margin: 5px 0; }
  }

  .models-ul {
    max-height: 600px;
    overflow: auto;
  }
}
