<h2 class="panel-title">
  <state-arrow state="$ctrl.general.state"></state-arrow>
  <span class="{{$ctrl.general.class}}">{{$ctrl.general.title}}</span> performing campaigns

  <!--<div class="btn-group pull-right" uib-dropdown dropdown-append-to-body>
    <button id="btn-regions" type="button" class="btn apigee-btn orange-btn" uib-dropdown-toggle>
      vs. 90 days
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-regions">
      <li role="menuitem" ng-repeat="region in explore.regions">
        {{region.services_pod}}
      </li>
    </ul>
  </div>-->
</h2>

<table class="panel-table">
  <thead>
    <tr>
      <th>Campaign name</th>
      <th class="short-cell">Web Visits</th>
      <th class="short-cell">Accounts Engaged</th>
      <th class="short-cell">Inquiries Graduated</th>
      <th class="short-cell">AQLs Graduated</th>
      <th class="short-cell">Deals Influenced</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="e in $ctrl.data">
      <td class="ellipsis-td" title="{{e.name}}">{{e.name}}</td>
      <td class="short-cell">
        <state-arrow state="'-1'"></state-arrow>
        
      </td>
      <td class="short-cell">
        <state-arrow state="e.engage_change_pct" type="pct"></state-arrow>
        {{e.curr_engagement}}
      </td>
      <td class="short-cell">
        <state-arrow state="e.inquiries_change_pct" type="pct"></state-arrow>
        {{e.inquiries_generated}}
      </td>
      <td class="short-cell">
        <state-arrow state="e.aql_grad_change_pct" type="pct"></state-arrow>
        {{e.aqls_graduated}} ({{e.aql_grad_change_pct}}%)
      </td>
      <td class="short-cell">
        <state-arrow state="e.deals_won_change_pct" type="pct"></state-arrow> 
        {{e.deals_won}} ({{e.deals_won_change_pct}}%)
      </td>
    </tr>
  </tbody>
</table>