<div>
  <div class="page-header">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Overview

            <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body>
                <button id="btn-regions" type="button" class="btn apigee-btn" uib-dropdown-toggle>
                  {{explore.selectedYear}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu small-dropdown" uib-dropdown-menu role="menu" aria-labelledby="btn-regions">
                  <li role="menuitem" ng-repeat="y in explore.years" ng-click="explore.selectYear(y)">
                    {{y}}
                  </li>
                </ul>
              </div>


            <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body>
                <button id="btn-regions" type="button" class="btn apigee-btn" uib-dropdown-toggle>
                  Q{{explore.selectedQuarter}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu small-dropdown" uib-dropdown-menu role="menu" aria-labelledby="btn-regions">
                  <li role="menuitem" ng-repeat="q in explore.quarters" ng-click="explore.selectQuarter(q)">
                    Q{{q}}
                  </li>
                </ul>
              </div>

            <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body>
              <button id="btn-regions" type="button" class="btn apigee-btn" uib-dropdown-toggle>
                {{explore.region}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-regions">
                <li role="menuitem" ng-repeat="region in explore.regions" ng-click="explore.selectRegion(region.services_pod)">
                  {{region.services_pod}}
                </li>
              </ul>
            </div>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <!-- Current Quarter Pipeline -->
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="panel chart-panel large-chart">
          <div class="top-labels">
            <div class="chart-top-label blue">Current</div>
            <div class="chart-top-label grey">Past</div>
            <div class="goal-label">Goal</div>
          </div>

          <h2 class="panel-title">Current Quarter Pipeline</h2>

          <ts-busy tracker="explore.overviewsTracker">
            <bar-chart chart-id="quarter-pipeline" data="explore.quarterPipeline"></bar-chart>
          </ts-busy>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="panel chart-panel mid-chart">
          <div class="chart-labels">
            <span class="chart-label label--prior-year">Prior Year</span>
            <span class="chart-label label--current-year">Current Year</span>
          </div>
          <h2 class="panel-title">Time to close
            <small>(375 days)</small>
          </h2>
          <ts-busy tracker="explore.overviewsTracker">
            <line-chart chart-id="line-pipeline" data="explore.timeToCloseData"></line-chart>
          </ts-busy>
        </div>
      </div>


      <div class="col-md-6 col-xs-12">
        <div class="panel chart-panel mid-chart">
          <h2 class="panel-title">Pipeline influence</h2>
          
          <div class="top-labels">
            <div class="chart-top-label blue">Current</div>
            <div class="chart-top-label grey">Past</div>
          </div>

          <ts-busy tracker="explore.overviewsTracker">
            <bar-chart class="capitalized-labels" axis="true" chart-size="med" chart-id="pipeline-influence" data="explore.pipelineInfluence"></bar-chart>
          </ts-busy>
        </div>
      </div>
    </div>

    <!-- Campaigns overview -->
    <div class="row">
      <h2 class="orange-title col-md-12 col-sm-12">
        <span>Campaigns overview</span>
        <div class="line-background"></div>
      </h2>
    </div>

    <div class="row flexible-panels">
      <div class="col-lg-6 col-xs-12 flex-item">
        <div class="panel">
          <ts-busy tracker="explore.topCampaingsTracker">
            <campaigns type="top" data="explore.topCampaigns"></campaigns>
          </ts-busy>
        </div>
      </div>


      <div class="col-lg-6 col-xs-12 flex-item">
        <div class="panel">
          <ts-busy tracker="explore.topCampaingsTracker">
            <campaigns type="lowest" data="explore.lowestCampaigns"></campaigns>
          </ts-busy>
        </div>
      </div>
    </div>

    <!-- Events overview -->
    <div class="row">
      <h2 class="orange-title col-md-12 col-xs-12">
        <span>Events overview</span>
        <div class="line-background"></div>
        <!--<q-select></q-select>-->
      </h2>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="panel">
          <ts-busy tracker="explore.eventsTracker">
            <h2 class="panel-title">Event Influenced Closed Opportunities</h2>

            <div class="top-labels">
              <div class="chart-top-label blue">Current</div>
              <div class="chart-top-label grey">Past</div>
            </div>

            <div class="panel-content chart-panel" >
              <bar-chart class="capitalized-labels" axis="true" chart-size="small" chart-id="event-influenced" data="explore.eventClosed"></bar-chart>
              <div ng-if="!explore.eventClosed" class="no-info">No information to show</div>
            </div>
          </ts-busy>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="panel">
          <ts-busy tracker="explore.eventsTracker">
            <h2 class="panel-title">Event Conversion Percentage</h2>

            <div class="top-labels">
              <div class="chart-top-label blue">Current</div>
              <div class="chart-top-label grey">Past</div>
            </div>

            <div class="panel-content chart-panel" scrollbar>
              <bar-chart class="capitalized-labels" axis="true" chart-size="small" chart-id="event-conversion" data="explore.eventConversion"></bar-chart>
              <div ng-if="!explore.eventConversion" class="no-info">No information to show</div>
            </div>
          </ts-busy>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="panel">
          <ts-busy tracker="explore.eventsTracker">
            <h2 class="panel-title">Event Influenced Opportunities</h2>

            <div class="top-labels">
              <div class="chart-top-label blue">Current</div>
              <div class="chart-top-label grey">Past</div>
            </div>

            <div class="panel-content">
              <h-bar-chart class="capitalized-labels" axis="true" chart-size="small" chart-id="event-influenced-opp" data="explore.eventInfluenced"></h-bar-chart>
            </div>
          </ts-busy>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel numbers-panel large">
          <div class="panel-main-number">
            {{explore.eventsInfluenceSummary.curr_inf_opp | approximate}}
            <span>(${{'250000' | approximate}})</span>
          </div>
          <div class="panel-subtitle">
            Influenced Opportunities in {{explore.eventsInfluenceSummary.curr_quarter}}
          </div>
          <div class="panel-foot-notice">
            <state-arrow state="explore.eventsInfluenceSummary.change_pct"></state-arrow>
            {{explore.eventsInfluenceSummary.change_pct}}% {{explore.eventsInfluenceSummary.change_pct >= 0 ? 'higher' : 'lower'}} than
            {{explore.eventsInfluenceSummary.past_quarter}}
          </div>
        </div>
      </div>
    </div>

    <!-- Events overview -->
    <div class="row">
      <h2 class="orange-title col-md-12 col-sm-12">
        <span>ABM overview</span>
        <div class="line-background"></div>
        <!--<q-select></q-select>-->
      </h2>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xxs-12">
        <div class="panel numbers-panel">
          <div class="panel-main-number">
            425
          </div>
          <div class="panel-subtitle">
            Active ABM Engagements
          </div>
          <div class="panel-foot-notice">
            <state-arrow state="'1'"></state-arrow>
            15% higher than Q2
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xxs-12">
        <div class="panel numbers-panel">
          <div class="panel-main-number">
            43
          </div>
          <div class="panel-subtitle">
            Days to close
          </div>
          <div class="panel-foot-notice">
            <state-arrow state="'1'"></state-arrow>
            15% higher than Q2
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xxs-12">
        <div class="panel numbers-panel">
          <div class="panel-main-number">
            $450k
          </div>
          <div class="panel-subtitle">
            ABM ASP Pricing
          </div>
          <div class="panel-foot-notice">
            <state-arrow state="'1'"></state-arrow>
            15% higher than Q2
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xxs-12">
        <div class="panel numbers-panel">
          <div class="panel-main-number">
            15%
          </div>
          <div class="panel-subtitle">
            Faster time to next Stage
          </div>
          <div class="panel-foot-notice">
            <state-arrow state="'1'"></state-arrow>
            15% higher than Q2
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel">
          <table class="panel-table">
            <thead>
              <tr>
                <th class="large-th">ABM Details</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Accounts Engaged</td>
                <td>9,999</td>
                <td>9.999</td>
                <td>9.999</td>
              </tr>
              <tr>
                <td>"Recycle" Rate</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>Influenced Deal %</td>
                <td>60%</td>
                <td>35%</td>
                <td>12%</td>
              </tr>
              <tr>
                <td>Time to close %</td>
                <td>60%</td>
                <td>35%</td>
                <td>12%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>