ts-search {
  float: right;
  margin-right: 50px;
}

.search-field {
  float:right;
  margin-left: 35%; 
  input {
    height: 25px;
    width: 225px;
    border-radius: 3px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #EEEEEE;
    color: #707372;   
  }
}

.search-overlay {
  width:100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 1002;
  background: #E5E5E5;
  opacity: 0.6;
}

.search-window {
  width:70%;
  height: 100%;
  max-width: 1200px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1003;
  background: #FFFFFF;
  border: #CCCCCC 1px solid;
  border-radius: 3px;
  overflow-y: scroll;
  
  h3 {    
    font-size: 28px;
    color: #6d6e70;
    line-height: 32px;
    margin-top: 50px;
  }

  a {
      color: #eb552f;
  }

  .search-window-inner {
    padding-left: 100px;
  }
}

.search-window.blurred {
  z-index: 1004;
  background-color: #E8E8E8;
}

.search-dismiss {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  padding: 0px 10px;
  font-size: 25px;
  color: #B7B7B7;
  background-color: #EEEEEE;
  border: #D4D4D4 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

.search-results {
  float: left;
  width: 65%;
  max-width: 1000px;
  margin-top: 10px;
  margin-bottom: 15px;
  
  h3 {
    margin-bottom: 35px;
  }
}

.search-result {
  margin-bottom: 25px;

  p {
    color: #6d6e70;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0px;

    .search-link {
      color: #EE5425;
      font-size: 13px;
    }
  }

  h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.search-pagination {
  margin: 0px auto 50px auto;
  display: block;
  width: 75%;
  float: left;
  
  ul {
    list-style: none;

    a {
      text-decoration: none;
    }

    li {
      display: inline;
      list-style-type: none;
      padding-right: 10px;
    }
  }  
  
  .page {
    float: left;
    margin: 0px 15px;
    font-size: 16px;
    cursor: pointer;
    
    .selected {
      font-weight: 700;
    }
  }

  .page.next, .page.prev {
    color: #EE5425;
    font-size: 25px;
    line-height: 22px;
  }

  .page.activePagination {
    font-weight: bold;
    font-size: 24px;
    color: #EE5425;
  }
}

.search-filter {
  float: right;
  width: 135px;
  margin-right: 75px;

  h4 {
    font-size: 18px;
    color: #808080;
  }

  ul {
    margin-left: -40px;
  }

  li {
    font-size: 14px;
    list-style: none;
    border-left: #CBCBCB 1px solid;
    padding-left: 10px;
    color: #EE5425;
    margin-bottom: 10px;
    line-height: 20px;
    cursor: pointer;
  }
}