<div class="search" ng-controller="tsSearchCtrl">
    <div class="search-field">
        <form ng-submit="executeSearch()">
           <input type="text" placeholder="Search Apigee" ng-model="query" />    
        </form>                    
    </div>
                        
    <div class="search-overlay" ng-show="blurPage" ng-click="showSearch = false; blurPage = false;"></div>
    <div ng-class="searchWindowClass" ng-show="showSearch">
        <div class="search-dismiss" ng-click="showSearch = false; blurPage = false;">&times;</div>
        <div class="search-window-inner">            
            <h3>Search Results</h3>
            
            <div class="search-results">
                <div class="search-result" ng-repeat="result in searchResults">
                    <h4><a href="{{result.link}}">{{result.title}}</a></h4>
                    <p class="search-link"><a href="{{result.link}}">{{result.linkText}}</a></p>
                    <p>{{result.snippet}}</p>
                </div>
            </div>        
            <div class="search-filter">
              <h4>Filter Search</h4>
              <ul>
                <li><a ng-click="executeSearch(null, 'docs')">Documentation</a></li>
                <li><a ng-click="executeSearch(null, 'community')">Apigee Community</a></li>
                <li><a ng-click="executeSearch(null, 'blog')">Apigee Blog</a></li>
              </ul>
            </div>
            <div class="search-pagination">
                <ul>
                    <li class="page prev"><a href="" ng-click="executeSearch('prev')">&lt;</a></li>
                    <li class="page" ng-repeat="page in pages">
                        <a href="" ng-click="executeSearch($index + 1)">{{$index + 1}}<a/>
                    </li>
                    <li class="page next" ng-click="executeSearch('next')"><a href="" ng-click="getPage('next')">&gt;</a></li>
                </ul>
            </div>             
        </div>
    </div>
    
</div>