<div class="full-height flex-container flex-column">
  <div class="page-header">
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="header-text-container">
              <a ui-sref="engage" class="back-link back-link--with-svg">GTM Dashboard</a>
              <h1>{{details.accountEngage.account_name | htmldecode}}</h1>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="row">
            <div class="col-xxs-6 col-xs-3 col-sm-3 col-md-3">
              <div class="header-text-container">
                <div class="text-up">
                  Status:
                </div>
                <div class="text-down">
                  <state-arrow state="details.accountEngage.account_status_signal"></state-arrow>                  
                  {{details.accountEngage.account_status}}
                </div>
              </div>
            </div>
            <div class="col-xxs-6 col-xs-3 col-sm-3 col-md-3">
              <div class="header-text-container">
                <div class="text-up">
                  Sales stage:
                </div>
                <div class="text-down">
                  {{details.accountEngage.sales_stage | stageFilter:'mini'}}
                </div>
              </div>
            </div>
            <div class="col-xxs-6 col-xs-3 col-sm-3 col-md-3">
              <div class="header-text-container">
                <div class="text-up">
                  Opportunity Since:
                </div>
                <div class="text-down">
                  {{details.accountEngage.opp_created_date | date}}
                </div>
              </div>
            </div>
            <div class="col-xxs-6 col-xs-3 col-sm-3 col-md-3">
              <div class="header-text-container">
                <div class="text-up">
                  Most recent stage date:
                </div>
                <div class="text-down">
                  {{details.accountEngage.recent_sales_stage_date | date}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content panels-container">
    <div class="row">
      <div class="col-md-9 flex-container flex-column">
        <div class="row flex flex-container key-panels">
          <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
            <div class="panel key-panels">
              <div class="panel-title">Key Metrics</div>
              <div class="panel-content">
                <ul class="panel-list">
                  <li>
                    <strong>Website engagement:</strong>
                    <span>
                      <state-arrow state="'down'"></state-arrow>
                      {{details.accountEngage.website_engagement}}
                    </span>
                  </li>
                  <li>
                    <strong>Cumulative website time:</strong>
                    <span class="icon-detail icon-detail--positive">
                      {{details.accountEngage.website_mins}} min
                    </span>
                  </li>
                  <li>
                    <strong>Marketing contacts:</strong>
                    <span class="icon-detail icon-detail--user">
                      {{details.accountEngage.marketing_num_contacts}}
                    </span>
                  </li>
                  <li>
                    <strong>GCP Customer:</strong>
                    <span></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
            <div class="panel sm-panel key-panels">
              <div class="panel-title">
                Trial Usage
              </div>
              <div class="panel-content">
                <ul class="panel-list">
                  <li>
                    <strong>Deployed trial proxies:</strong>
                    <span class="icon-detail" ng-class="{'icon-detail--dot-red': details.accountEngage.trialproxies == '0', 'icon-detail--dot-green': details.accountEngage.trialproxies != '0'}">
                      {{details.accountEngage.trialproxies*1 ? 'YES (' + details.accountEngage.trialproxies + ')' : 'NO'}}
                    </span>
                  </li>
                  <li>
                    <strong>Trial users:</strong>
                    <span class="icon-detail icon-detail--user">
                      {{details.accountEngage.trialusers}}
                    </span>
                  </li>
                  <li>
                    <strong>Days of activity:</strong>
                    <span class="icon-detail icon-detail--transparent">
                      {{details.accountEngage.trialuseractivitydays}}
                    </span>
                  </li>
                  <li>
                    <strong>API Traffic in last 90 days:</strong>
                    <span class="icon-detail icon-detail--transparent">
                      {{details.accountEngage.proxies_traffic_90days}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="panel sm-panel key-panels">
              <div class="panel-title">
                Other information
              </div>
              <div class="panel-content">
                <ul class="panel-list">
                  <li>
                    <strong>Website activity:</strong>
                    <span>
                      
                    </span>
                  </li>
                  <li>
                    <strong>Webinars attended:</strong>
                    <span class="icon-detail icon-detail--transparent">
                      {{details.accountEngage.webinar_attendance}}
                    </span>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex flex-1-5 flex-container">
          <div class="col-xs-12">
            <div class="panel">
              <div class="panel-title">
                Marketing Information
              </div>
              <div class="panel-content" scrollbar>
                <marketing-information class="panel-table" account="details.accountId"></marketing-information>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel">
          <div class="panel-title">
            Relevant Information
          </div>
          <div class="panel-content" scrollbar>
            <relevant-information account="details.accountEngage.account_name" class="panel-list panel-list--flat"></relevant-information>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
